.button {
    background-color: $indigo;
    color: $white;
    padding: rem(30);
    border-radius: rem(45);
    font-family: $dinpro;
    width: rem(380);
    display: inline-block;
    text-align: center;
}