$BODY-FONT-SIZE: 18px !default;

// colors
$pink: #ee70a7;
$indigo: #3b38d4;
$light-indigo: #7389f1;
$dark-indigo: #212669;
$black: #1f213c;
$blue: #0460A7;
$gray: #a1a1a1;
$medium-gray: #edeeef;
$light-gray: #f4f5f8;
$white: #fff;

// fonts
$ailerons: "Ailerons";
$nunito: "Nunito";

$chelsea: "chelsea";
$dinpro: "dinpro";
$dinproBold: "dinproBold";
$dinproLight: "dinproLight";